html {
    background-color:rgb(63, 75, 80)
}

header {
    max-width: 80%;
    padding: 48px;
    margin-left: 20%;
    margin-right: 15%;
    background-color: rgb(45, 51, 48);
    border: 2px solid white;
    text-align: center;
    border-radius: 18px;
}

h3 {
    position: absolute;
    top: -7.5%;
    left: 26%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #ffd700;
    font-size: 400%;    
}

.p-header {
    position: absolute;
    top: 8%;
    left: 36%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

form {
    position: absolute;
    left: 23%;
    top: 16%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    color:aliceblue;
}

.panel-body {
    font-size: 500%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 35%;
    padding: 100px;
    margin-left: 55%;
    margin-right: 15%;
    margin-top: 5%;
    background-color: rgb(45, 51, 48);
    border: 2px solid white;
    text-align: center;
    border-radius: 18px;
    color: #ffd700;
}

.panel-header {
    position: absolute;
    left: 64%;
    top: 18%;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.submit-button {
    position: absolute;
    left: 129%;
    top: 95.5%;
    text-align: center;
    padding: 20px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: bold;
    border: 2px solid #fafaf8;
    border-radius: 12px;
}
.clear-button {
    position: absolute;
    left: 72%;
    top: 90.5%;
    text-align: center;
    padding: 20px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    font-weight: bold;
    border: 2px solid #fafaf8;
    border-radius: 12px;
}

.sex-header {
    font-weight: bold;
    color: #ffd700;
}

.age-label{
    font-weight: bold;
    color: #ffd700;
}

.ht-header {
    font-weight: bold;
    color: #ffd700;
}

.hd-header {
    font-weight: bold;
    color: #ffd700;
}

.glucose-label {
    font-weight: bold;
    color: #ffd700;
}

.bmi-label {
    font-weight: bold;
    color: #ffd700;
}

.smoker-header {
    font-weight: bold;
    color: #ffd700;
}

.download-label {
    font-weight: normal;
    color: #ffd700;
}

.age-box {
    border: 2px solid #fafaf8;
    width: 100px;
} 

.glucose-box {
    border: 2px solid #fafaf8;
    width: 100px;
} 

.bmi-box {
    border: 2px solid #fafaf8;
    width: 100px;
} 
